harmony/build-profile.json5
harmony/private/
**/.hvigor/
**/.idea/
**/.cxx/
**/build/
**/oh_modules/
**/node_modules/
*.p12
*.p7b
*.cer
*.hap
**/libs/**/*.so
**/libs/**/*.h
**/third_party/**/bin/
**/third_party/**/pkg/
**/third_party/**/src/cmd/dist/dist
**/core/core.log
.DS_Store
